$primary-color: #000;
$bg: black;

h1 {
  color: $primary-color;
  padding: 15px;
}

.bkash_header_container {
  background: #fff;
  overflow: hidden;
  font-size: 20px;
  width: 100%;
  display: flex;
  margin: 0 0 35px -19px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  line-height: 8px;
  align-items: center;
  justify-content: flex-start;
  padding-right: 19px;

  .header_logo {
    padding-left: 20px;

    img {
      padding: 12px 0;
      width: 85px;
    }
  }
}

.dokan_admin_settings_area {
  overflow: hidden;
  position: relative;
  display: flex;
  border: 1px solid #c8d7e1;

  .admin_settings_sections {
    overflow: hidden;
    flex: 1;
    background: #f1f1f1;

    ul.dokan_admin_settings {
      margin: 0;

      li {
        background-color: #f1f1f1;
        padding: 15px 12px;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 0;
        cursor: pointer;
        border: none;
        border-bottom: 1px solid #c8d7e1;
        transition-property: none;
        transition: none;
        border-right: 1px solid #c8d7e1;
      }

      li.active {
        background-color: #fff !important;
        border-right: 1px solid #fff;
      }
    }
  }

  .admin_settings_fields {
    flex: 3;
    padding: 10px 20px;
    background-color: #fff;
    padding-bottom: 75px;

    .single_settings_container {
      padding: 0 15px;

      .section_title {
        font-size: 17px;
        margin-top: 0;
        color: #e1156e;
        font-weight: 600;
        border-bottom: 1px solid #e1156e;
        padding-bottom: 5px;
        padding-top: 10px;
      }

      .single_settings_field{

      }
    }

    p.label {
      font-size: 14px;
      margin-bottom: 5px;
    }

    p.help-text {
      color: #333333a6;
      font-style: italic;
      margin-top: 5px;
    }
  }

  .widefat {
    border-color: #ddd;
    padding: 6px 10px;
    font-size: 13px;
  }

  .dc_bkash_save_btn {
    margin-top: 20px;
  }
}

.dc_bkash_save_btn {
  width: 120px;
  text-align: center;
  display: block;
}
