.bkash-loader {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #ffffffc2;
    left: 0;
    top: 0;
    background-image: url('https://res.cloudinary.com/d-coders/image/upload/v1592201998/wp-plugins/bkash.gif');
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
