.all-transactions {
    background: $white;
    padding: 20px;
    border-radius: 5px;

    .transactions {
        border-radius: 5px;
        text-align: center;
        background: $white;
        margin-bottom: 0;
    }
}